<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MDZ Bike</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" >
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
  <header class="header">
    <section class="mensaje-footer">
      <p>ENVÍOS GRATIS desde $10.000 a TODO el PAIS</p>
    </section>
    <section class="seccion1">
        <section class="logo">
            <div class="img-logo">
                <a href="/index"><img src="../images/desing/logo/logo1.PNG" alt="Logo MDZ Bike"></a>
            </div>
        </section>
        <section class="search">
            <div class = "buscar">
                <label for="" class="barra-buscar"></label>
                <input class="buscador" type="text" id="barra-buscar" placeholder="Buscar productos, respuestos, herramientas y mas..." required><button class="icono_search"><i class="fas fa-search"></i></button>
            </div>
        </section>
        <section class="profile">
            <a class="profile-icono" href="/login"><i class="fas fa-user-circle"></i></a>
            <a class="profile-icono" href="/productCart"><i class="fas fa-cart-plus"></i></a>
            <a class="profile-icono" href="/register"><i class="fas fa-plus"></i></a>
        </section>
    </section>
    <section class="seccion2">
      <div class="secciones-header">
        <a href="">Bicicletas</a>
      </div>
      <div class="secciones-header">
        <a href="">Cascos</a>
      </div>
      <div class="secciones-header">
        <a href="">Indumentaria</a>
      </div>
      <div class="secciones-header">
        <a href="">Componentes y Repuestos</a>
      </div>
      <div class="secciones-header">
        <a href="">Accesorios</a>
      </div>
      <div class="secciones-header">
        <a href="">Promociones</a>
      </div>
    </section>
    <section class="burger-menu">
      <i class="fas fa-bars burger"></i>
    </section>
  </header>
  <section class="banner">
    <img src="../images/banners/15.1.jpg" alt="banner" width="100%">
  </section>
  <main>
    <section class="main-trabaja">
      <form action="/home" method="GET" class="formulario-registro">
        <div class="titulo-register">
            <h2>Envianos tu CV</h2>
        </div>
        <div class="campo1">
            <label class="label-input" for="name">
            <input class="input-datos" type="text" name="nombre" id="name" placeholder="Nombre y apellido" required>
            </label>
        </div>
        <div class="campo1">
            <label class="label-input" for="user-name">
            <input class="input-datos" type="text" name="nombreDeUsuario" id="user-name" placeholder="Direccion de correo electronico" required>
        </label>
        </div>
        <div class="campo">
            <div class="titulo-register">
                <label>Adjunta tu CV</label>
            </div>
            <div class="insert-file">
                <input type="file" name="foto-usuario" accept=".jpg" required>
            </div>
        </div>
        <div class="campo1">
            <label class="label-input" for="comentarios">
            <input class="input-datos1" type="password" name="conf-contraseña-usuario" id="comentarios" placeholder="Comentanos en que podes sumar..." required>
            </label>
        </div>
        <div class="campo1">
            <a href="/home"><button class="button-register">Registrarme</button></a>
        </div>
      </form>
    </section>
  </main>
  <section class="banner">
    <img src="../images/banners/8.1.jpg" alt="banner" width="100%">
  </section>
  <footer class="footer">
    <section class="seccion6">
        <div class="mensaje">
            <p class="titulo-footer">Sobre nosotros</p>
            <p class="info_titulo">Somos un grupo de amantes de las bicicletas que con mucho esfuerzo comenzamos este emprendiemiento para ofrecer productos de calidad en todo el pais. Date una vuelta por la pagina, seguro encontras lo que buscas!</p>
        </div>
        <div class="mensaje">
            <p class="titulo-footer">Ayuda</p>
            <div class="links-footer">
              <div class="links">
                  <a class="texto-link" href="/necesitoAyuda">Necesito ayuda</a>
              </div>
              <div class="links">
                  <a class="texto-link" href="/necesitoAyuda">Consultas Tecnicas</a>
              </div>
              <div class="links">
                <a class="texto-link" href="/trabajaConNosotros">Trabaja con nosotros</a>
            </div>
          </div>
        </div>
        <div class="mensaje">           
          <p class="titulo-footer">Contacto</p>
          <div class="mensaje-datos">
            <i class="fab fa-whatsapp"></i>
            <p class="info_titulo">+54 99 2634 344553</p>
          </div>
          <div class="mensaje-datos">
            <i class="far fa-envelope"></i>         
            <p class="info_titulo">contacto@mdzbike.com</p>
          </div>
          <div class="mensaje-datos">
            <i class="fas fa-map-marker-alt"></i>     
            <p class="info_titulo">P. Sherman Calle Wallaby 42 Mendoza, Argentina</p>
          </div>
        </div>
        <div class="mensaje">
          <p class="titulo-footer">Seguinos</p>
          <div class="iconos-redes">
            <div class="icono-redes">
                <a class="icono-link" href="/#"><i class="fab fa-facebook-square"></i></a>
            </div>
            <div class="icono-redes">
                <a class="icono-link" href="/#"><i class="fab fa-youtube"></i></a>
            </div>
            <div class="icono-redes">
              <a class="icono-link" href="/#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </section>
    <section class="seccion7">
        <div class="copyright">
            <p>Copyright © 1999-2021 MDZ Bike S.A.</p>
        </div>
    </section>
  </footer>
  </body>
</html>
