<!DOCTYPE html>
<html>
  <%- include('partials/head') %>
  <body>
    <%- include('partials/header') %>
    <section class="banner">
      <img src="../images/banners/17.1.jpg" alt="banner">
    </section>
    <main class="main">
      <section class="seccion3"></section>
      <section class="seccion4">
        <h2 class="titulares">Todos los productos</h2>
        <section class="nuevos-productos">
          <article class="nuevos-productos">
            <a class="producto" href="/productDetail">
                <div class="image">
                    <img src="../images/img/manubrio1.jpg" alt="manubrio1">
                </div>
                <div class="info-de-productos">
                  <div class="precios">
                      <p class="precio-nuevo">$19.445,00</p>
                      <p class="precio-ant">$20.299,99</p>
                  </div>
                  <div class="descripciones">
                    <h3>Manubrio Bicicleta MTB PRO Tharsis Trail Carbono 31.8 x 800 x 20mm Shimano Di2 Compatible</h3>
                  </div>
                </div>
            </a>
          </article>
          <article class="nuevos-productos">
            <a class="producto" href="/productDetail">
              <div class="image">
                <img src="../images/img/disco1.png" alt="disco1">
            </div>
            <div class="info-de-productos">
              <div class="precios">
                  <p class="precio-nuevo">$1.647,00</p>
                  <p class="precio-ant">$1.950,00</p>
              </div>
              <div class="descripciones">
                <h3>Disco Freno Bicicleta MTB Shimano RT10 160mm Center Lock</h3>
              </div>
            </div>
            </a>
          </article>
          <article class="nuevos-productos">
            <a class="producto" href="/productDetail">
              <div class="image">
                <img src="../images/img/camara1.png" alt="camara1">
            </div>
            <div class="info-de-productos">
              <div class="precios">
                  <p class="precio-nuevo">$1.200,00</p>
                  <p class="precio-ant">$1.399,00</p>
              </div>
              <div class="descripciones">
                <h3>Camara 29 X 1.75/2.35 Valvula Presta Mtb Arisun</h3>
              </div>
            </div>
            </a>
          </article>
          <article class="nuevos-productos">
            <a class="producto" href="/productDetail">
              <div class="image">
                <img src="../images/img/shifter1.png" alt="shifter1">
              </div>
              <div class="info-de-productos">
              <div class="precios">
                  <p class="precio-nuevo">$23.500,00</p>
                  <p class="precio-ant">$24.199,99</p>
              </div>
              <div class="descripciones">
                <h3>Frenos Hidraulico Shimano Deore M6100 I-spec Ev</h3>
              </div>
            </div>
            </a>
          </article>
          <article class="nuevos-productos">
            <a class="producto" href="/productDetail">
              <div class="image">
                <img src="../images/img/juego1.png" alt="juego1">
              </div>
              <div class="info-de-productos">
              <div class="precios">
                  <p class="precio-nuevo">$6.332,00</p>
                  <p class="precio-ant">$6.499,00</p>
              </div>
              <div class="descripciones">
                <h3>Juego de Dirección Bicicleta MTB Dartmoor Blaze Comun Tapered Reductor Negro</h3>
              </div>
            </div>
            </a>
          </article>
          <article class="nuevos-productos">
            <a class="producto" href="/productDetail">
              <div class="image">
                <img src="../images/img/casco1.jpg" alt="casco1">
              </div>
              <div class="info-de-productos">
                <div class="precios">
                    <p class="precio-nuevo">$21.000,00</p>
                    <p class="precio-ant">$22.250,00</p>
                </div>
                <div class="descripciones">
                  <h3>Casco Bell Super 2 Enduro TALLE S 52-56cm</h3>
                </div>
              </div>
            </a>
          </article>
          <article class="nuevos-productos">
            <a class="producto" href="/productDetail">
              <div class="image">
                <img src="../images/img/inflador1.jpg" alt="inflador1">
              </div>
              <div class="info-de-productos">
              <div class="precios">
                  <p class="precio-nuevo">$6.700,00</p>
                  <p class="precio-ant">$7.200,00</p>
              </div>
              <div class="descripciones">
                <h3>Inflador Bicicleta Merida MTB CNC Schrader/Presta</h3>
              </div>
            </div>
            </a>
          </article>
          <article class="nuevos-productos">
            <a class="producto" href="/productDetail">
              <div class="image">
                <img src="../images/img/pinion2.jpg" alt="pinion2">
              </div>
              <div class="info-de-productos">
              <div class="precios">
                  <p class="precio-nuevo">$8.200,00</p>
                  <p class="precio-ant">$9.100,00</p>
              </div>
              <div class="descripciones">
                <h3>Piñon Shimano HG-500 10v 11-42</h3>
              </div>
            </div>
            </a>
          </article>
          <article class="nuevos-productos">
            <a class="producto" href="/productDetail">
              <div class="image">
                <img src="../images/img/casco2.jpg" alt="casco2">
              </div>
              <div class="info-de-productos">
              <div class="precios">
                  <p class="precio-nuevo">$6.100,00</p>
                  <p class="precio-ant">$7.400,00</p>
              </div>
              <div class="descripciones">
                <h3>Casco Bicicleta BMX Bell Block</h3>
              </div>
            </div>
            </a>
          </article>
          <article class="nuevos-productos">
            <a class="producto" href="/productDetail">
              <div class="image">
                <img src="../images/img/espejo1.jpg" alt="espejo1">
              </div>
              <div class="info-de-productos">
              <div class="precios">
                  <p class="precio-nuevo">$1.250,00</p>
                  <p class="precio-ant">$1.400,00</p>
              </div>
              <div class="descripciones">
                <h3>Espejo Retrovisor Ideate-B Giro 180º x 360º x 360º Anclaje Tope Manillar</h3>
              </div>
            </div>
            </a>
          </article>
          <article class="nuevos-productos">
            <a class="producto" href="/productDetail">
              <div class="image">
                <img src="../images/img/manubrio2.jpg" alt="manubrio2">
              </div>
              <div class="info-de-productos">
              <div class="precios">
                  <p class="precio-nuevo">$5.850,00</p>
                  <p class="precio-ant">$6.200,00</p>
              </div>
              <div class="descripciones">
                <h3>Manubrio Giant Contact Flat</h3>
              </div>
            </div>
            </a>
          </article>
          <article class="nuevos-productos">
            <a class="producto" href="/productDetail">
              <div class="image">
                <img src="../images/img/ducto1.png" alt="ducto1">
              </div>
              <div class="info-de-productos">
              <div class="precios">
                  <p class="precio-nuevo">$2.100,00</p>
                  <p class="precio-ant">$2.600,00</p>
              </div>
              <div class="descripciones">
                <h3>Ducto para Freno Shimano SM-BH63 Delantero 900 mm</h3>
              </div>
            </div>
            </a>
          </article>
        </section>
      </section>
      <section class="banner">
        <img src="../images/banners/19.1.jpg" alt="banner">
      </section>
      <section class="seccion4">
        <h2 class="titulares">Mas populares</h2>
        <section class="nuevos-productos">
          <article class="nuevos-productos">
            <a class="producto" href="/productDetail">
                <div class="image">
                    <img src="../images/img/manubrio1.jpg" alt="manubrio1">
                </div>
                <div class="info-de-productos">
                  <div class="precios">
                      <p class="precio-nuevo">$19.445,00</p>
                      <p class="precio-ant">$20.299,99</p>
                  </div>
                  <div class="descripciones">
                    <h3>Manubrio Bicicleta MTB PRO Tharsis Trail Carbono 31.8 x 800 x 20mm Shimano Di2 Compatible</h3>
                  </div>
                </div>
            </a>
          </article>
          <article class="nuevos-productos">
            <a class="producto" href="/productDetail">
              <div class="image">
                <img src="../images/img/disco1.png" alt="disco1">
            </div>
            <div class="info-de-productos">
              <div class="precios">
                  <p class="precio-nuevo">$1.647,00</p>
                  <p class="precio-ant">$1.950,00</p>
              </div>
              <div class="descripciones">
                <h3>Disco Freno Bicicleta MTB Shimano RT10 160mm Center Lock</h3>
              </div>
            </div>
            </a>
          </article>
          <article class="nuevos-productos">
            <a class="producto" href="/productDetail">
              <div class="image">
                <img src="../images/img/camara1.png" alt="camara1">
            </div>
            <div class="info-de-productos">
              <div class="precios">
                  <p class="precio-nuevo">$1.200,00</p>
                  <p class="precio-ant">$1.399,00</p>
              </div>
              <div class="descripciones">
                <h3>Camara 29 X 1.75/2.35 Valvula Presta Mtb Arisun</h3>
              </div>
            </div>
            </a>
          </article>
          <article class="nuevos-productos">
            <a class="producto" href="/productDetail">
              <div class="image">
                <img src="../images/img/shifter1.png" alt="shifter1">
              </div>
              <div class="info-de-productos">
              <div class="precios">
                  <p class="precio-nuevo">$23.500,00</p>
                  <p class="precio-ant">$24.199,99</p>
              </div>
              <div class="descripciones">
                <h3>Frenos Hidraulico Shimano Deore M6100 I-spec Ev</h3>
              </div>
            </div>
            </a>
          </article>
        </section>
      </section>
    </main>
    <section class="banner">
      <img src="../images/banners/11.1.jpg" alt="banner">
    </section>
    <%- include('partials/footer') %>
</body>
</html>
