<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/header') %>
    <main>
      <section class="main-carrito">
        <section class="carrito">
          <div class="item">
            <div class="imagen">
              <img src="../images/img/manubrio/1.1.jpg" alt="manubrio1">
            </div>
            <div class="descripccion">
              <div class="nombre-producto">
                <p>Manubrio Bicicleta MTB PRO Tharsis Trail Carbono 31.8 x 800 x 20mm Shimano Di2 Compatible</p>
              </div>
              <div class="modificar">
                <div class="campo-login">
                  <label class="label-input" for="cantidad">
                  <input class="input-datos" type="number" min="1"placeholder="1" name="nombre" id="cantidad">
                  </label>
                </div>
                <div class="campo-login">
                  <a class="botton-enviar" href="/#"><button class="button-login">Eliminar Producto</button></a>
                </div>
              </div>
                <div class="precio-envio">
                  <p class="precio-compra">$19.445,00</p>
                <div>
                  <p class="tipo-envio">Envio Gratis!</p>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="imagen">
              <img src="../images/img/shifter1.png" alt="shifter1">
            </div>
            <div class="descripccion">
              <div class="nombre-producto">
                <p>Frenos Hidraulico Shimano Deore M6100 I-spec Ev</p>
              </div>
              <div class="modificar">
                <div class="campo-login">
                  <label class="label-input" for="cantidad">
                  <input class="input-datos" type="number" min="1"placeholder="1" name="nombre" id="cantidad">
                  </label>
                </div>
                <div class="campo-login">
                  <a class="botton-enviar" href="/#"><button class="button-login">Eliminar Producto</button></a>
                </div>
              </div>
                <div class="precio-envio">
                  <p class="precio-compra">$23.500,00</p>
                <div>
                  <p class="tipo-envio">Envio Gratis!</p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="sumatoria">
          <div class="total">
            <p class="precio-compra">$ 42.945,00</p>
          </div>
          <div class="confirmar-compra">
            <div class="campo-login">
              <a class="botton-enviar" href="/#"><button class="button-login">Confirmar Compra</button></a>
            </div>
          </div>
        </section>
      </section>
    </main>
    <section class="banner">
        <img src="../images/banners/5.1.jpg" alt="banner" width="100%">
    </section>
    <%- include('partials/footer') %>
  </body>
</html>