<footer class="footer">
    <section class="seccion6">
        <div class="mensaje">
            <p class="titulo-footer">Sobre nosotros</p>
            <p class="info_titulo">Somos un grupo de amantes de las bicicletas que con mucho esfuerzo comenzamos este emprendiemiento para ofrecer productos de calidad en todo el pais. Date una vuelta por la pagina, seguro encontras lo que buscas!</p>
        </div>
        <div class="mensaje">
            <p class="titulo-footer">Ayuda</p>
            <div class="links-footer">
              <div class="links">
                  <a class="texto-link" href="/necesitoAyuda">Necesito ayuda</a>
              </div>
              <div class="links">
                  <a class="texto-link" href="/necesitoAyuda">Consultas Tecnicas</a>
              </div>
              <div class="links">
                <a class="texto-link" href="/trabajaConNosotros">Trabaja con nosotros</a>
            </div>
          </div>
        </div>
        <div class="mensaje">           
          <p class="titulo-footer">Contacto</p>
          <div class="mensaje-datos">
            <i class="fab fa-whatsapp"></i>
            <p class="info_titulo">+54 99 2634 344553</p>
          </div>
          <div class="mensaje-datos">
            <i class="far fa-envelope"></i>         
            <p class="info_titulo">contacto@mdzbike.com</p>
          </div>
          <div class="mensaje-datos">
            <i class="fas fa-map-marker-alt"></i>     
            <p class="info_titulo">P. Sherman Calle Wallaby 42 Mendoza, Argentina</p>
          </div>
        </div>
        <div class="mensaje">
          <p class="titulo-footer">Seguinos</p>
          <div class="iconos-redes">
            <div class="icono-redes">
                <a class="icono-link" href="/#"><i class="fab fa-facebook-square"></i></a>
            </div>
            <div class="icono-redes">
                <a class="icono-link" href="/#"><i class="fab fa-youtube"></i></a>
            </div>
            <div class="icono-redes">
              <a class="icono-link" href="/#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </section>
    <section class="seccion7">
        <div class="copyright">
            <p>Copyright © 1999-2021 MDZ Bike S.A.</p>
        </div>
    </section>
  </footer>